@use "../../styles/typefaces" as *;
@use "../../styles/typefaces" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.btn {
  @include flex-center($justify-content: flex-end);
  position: relative;
  // width: 351px;
  width: 100%;
  height: 86px;
  border-radius: 0;
  padding: 20px 40px;
  gap: 40px;
  background-color: $black;

  border: 1px solid black;

  color: #fff;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  //uppercase
  $transition: $transition;

  &:hover:enabled {
    cursor: pointer;
    background-color: white;
    color: $black;
  }

  &--secondary {
    //secondary styles
    &:hover:enabled {
      background-color: inherit;
    }
  }
  &__icon {
    position: absolute;
    left: 40px;
  }

  &__text {
    width: 70%;
  }
}
