@use "./variables" as *;
@use "./typefaces" as *;

/* Responsive Design */

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

/* Text sizing */

@mixin plain-text-white {
  font-size: 14px;
  font-family: "helvetica neue, -apple-system, sans serif";
  color: $white;
}

@mixin plain-text-dark {
  font-size: 14px;
  font-family: "helvetica neue, -apple-system, sans serif";
  color: $black;
}

@mixin accent-text {
  font-size: 16px;
  font-weight: bold;
}

// add with design!

/* Spacing */

@mixin side-padding {
  padding-left: $spacing-unit-sm;
  padding-right: $spacing-unit-sm;
}

@mixin bottom-padding {
  padding-bottom: $spacing-unit-sm;

  @include tablet {
    padding-bottom: $spacing-unit-med;
  }
}

@mixin top-padding {
  padding-top: $spacing-unit-sm;

  @include tablet {
    padding-top: $spacing-unit-med;
  }
}

@mixin section-padding-vertical {
  @include bottom-padding;
  padding-top: $spacing-unit-med;

  @include tablet {
    padding-top: $spacing-unit-lg;
  }
}

@mixin padding-vertical {
  @include top-padding;
  @include bottom-padding;
}

@mixin top-margin {
  margin-top: $spacing-unit-sm;

  @include tablet {
    margin-top: $spacing-unit-med;
  }
}

@mixin bottom-margin {
  margin-bottom: $spacing-unit-sm;

  @include tablet {
    margin-bottom: $spacing-unit-med;
  }
}

@mixin vertical-margin {
  @include top-margin;
  @include bottom-margin;
}

// flex
@mixin flex-center($justify-content: center, $align-content: center) {
  display: flex;
  align-items: $align-content;
  justify-content: $justify-content;
}

@mixin flex-gap {
  gap: $spacing-unit-sm;

  @include tablet {
    gap: $spacing-unit-med;
  }
}

//form field styles
@mixin form-field {
  // width: 13rem;
  // height: 2.25rem;
  border: none;
  outline: none;
  padding: 10px;
  width: 350px;
  max-height: 40px;

  @include tablet {
  }

  &:focus {
  }

  &::placeholder {
  }
}
