/* Colors */

$black: #000; //black
$white: #fff; //white
$light-grey: #f2f2f2; //indigo
$dark-grey: #323232;
$med-grey: #c5c5c5;

$pastel-green: #dbedd5;
$pastel-tan: #efe7db;

$green: #adceb5;
$purple: #b2a7d5;

$accent-yellow: #ffcc00;

//probably need to shift
$spacing-unit-sm: 1rem;
$spacing-unit-med: 1.5rem;
$spacing-unit-lg: 2rem;
$spacing-unit-xl: 3.938rem;
$spacing-unit-xxl: 15rem;
$spacing-unit-xs: 0.5rem;
$spacing-unit-xxs: 0.25rem;

/* Misc */

$transition: 0.5s;
$navbar-height: 135px; //change post design;
// $divider: 1px $secondary-light solid;
