/* Colors */

$black: #000; //black
$white: #fff; //white
$light-grey: #f2f2f2; //indigo

// $secondary-dark: #5C667E; //slate
// $secondary-light: #BDC5D5; //cloud

// $background-dark: #232940; //graphite
// $background-light: #F7F8F9; //light-grey

// $accent:
// $: #158463; // green

/* Spacing Values */

//to be altered

// $spacing-unit-sm: 1rem;
// $spacing-unit-med: 1.5rem;
// $spacing-unit-lg: 2rem;
// $spacing-unit-xl: 3.938rem;
// $spacing-unit-xxl: 8.125rem;
// $spacing-unit-xs: 0.5rem;
// $spacing-unit-xxs: 0.25rem;

/* Misc */

// $border-radius: 1.25rem;
// $transition: 0.3s;
// $divider: 1px $secondary-light solid;
