@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-CondensedBold.woff2') format('woff2'),
        url('HelveticaNeue-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-ThinCond.woff2') format('woff2'),
        url('HelveticaNeue-ThinCond.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

