@use "../../styles/typefaces" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.absolute-container {
  position: relative;
}

.absolute-container__absolute {
  width: 100%;
  height: 54px;
  outline: 1.5px solid black;
  padding: 1.5rem;
  font-size: 16px;
}

.input-container {
  @include side-padding;
  position: absolute;
  top: 51%;
  z-index: 2;
  width: 100%;
}

.clickable {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0%;
}

.star {
  position: absolute;
  max-width: 5px;
  max-height: 5px;
  top: 10px;
  left: 30px;
}
