.cart {
  position: absolute;
  right: 20px;
  top: 20px;

  &:hover {
    cursor: pointer;
  }
  &__quant {
    position: absolute;
    right: -4px;
    top: 1px;

    &--hidden {
      display: none;
    }
  }
}
