@use "../../styles/typefaces" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar {
  background-color: black;
  width: 100%;
  @include flex-center($justify-content: flex-start);
  height: $navbar-height;
  @include side-padding;
}
