@use "./styles/typefaces" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.app {
  @include flex-center;
  width: 100%;
  background-color: #f4f2f4;

  &__content {
    max-width: 430px;
    min-width: 430px;
    background-color: white;
    // min-height: 100vh;
    margin: auto;
    border: 1px solid black;
  }
}
.webcam {
  &--hidden {
    display: none;
  }
}
.show {
  display: flex;
}

.hide {
  display: none;
}
