@use "./styles/typefaces" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.examples {
  @include flex-center;
  flex-direction: column;
}

.example {
  margin: auto;
  @include side-padding;
  margin: 5rem 0;
}

.webcam {
  &--hidden {
    display: none;
  }
}
.show {
  display: flex;
}

.hide {
  display: none;
}
