@use "./styles/typefaces" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
a,
input,
textarea {
  font-family: "Helvetica Neue", -apple-system, sans-serif;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 0.875rem;
  font-size: 14px;
}

:visited {
  color: inherit;
}
